 html, body {
    font-family: Arial;
    position: absolute;
    height: 100%;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.banner {
    text-align: center;
}
.banner h1 {
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing: antialiased;
    color: #555;
    font-size: 42px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
}
.side-content {
    padding-top: 18px;
    margin: 0 420px 0 0;
}
.side-content h2 {
    text-align: center;
    font-family: 'Open Sans', arial;
    color: #737373;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}
.side-content p {
    text-align: center;
    font-family: 'Open Sans', arial;
    color: #737373;
    font-size: 13px;
    margin-bottom: 40px;
}
.side-content img {
    margin: 0 auto 80px;
    display: block;
}
.profile-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
 }

.register-box {
    position: fixed;
    top: 20%;
    left: 60%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
    padding: 25px;
    background: #fff;
    border: 1px solid rgb(229, 229, 229);
    width: 320px;
}
.register-box div {
    margin: 0px 0px 1.5em;
    align: center;
}
.register-box h2 {
    font-size: 20px;
    line-height: 15px;
    font-weight: bold;
}
.register-box label {
    display: block;
}
.register-box .email-label, .register-box .passwd-label, .register-box .control-label {
    font-weight: bold;
    margin: 0px 0px 0.5em;
    display: block;
   -moz-user-select: none;
}
.register-box label.remember {
    display: inline-block;
    vertical-align: top;
    margin: 9px 0px 0px;
}
strong {
    color: rgb(34, 34, 34);
}
.register-box input[type="email"], .register-box input[type="password"], .register-box input[type="text"] {
    width: 100%;
    height: 32px;
    font-size: 18px;
    direction: ltr;
}
input[type="email"], input[type="password"] {
    display: inline-block;
    height: 29px;
    margin: 0px;
    padding: 0px 8px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-right: 1px solid rgb(217, 217, 217);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    -moz-box-sizing: border-box;
    border-radius: 1px 1px 1px 1px;
}
ol, ul {
    list-style: none outside none;
    line-height: 17px;
    margin-left:0px;
    padding-left:0px;
}
a {
    color: rgb(17, 85, 204);
    text-decoration: none;
}
.register-box input[type="submit"] {
    margin: 0px 1.5em 1.2em 0px;
    height: 36px;
    font-size: 18px;
}
.button, input.button[type="submit"] {
    height: 29px;
    line-height: 29px;
    vertical-align: bottom;
    margin: 0px;
}
.button-submit {
    border: 1px solid #3079ed;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
}
.button {
    display: inline-block;
    min-width: 66px;
    text-align: center;
    color: #009999;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    line-height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    -o-transition: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.button:active {
    background-color: #00FFFF;
    background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.button:hover {
    border: 1px solid #c6c6c6;
    color: #0000FF;
    text-decoration: none;
    -o-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -webkit-transition: all 0.0s;
    transition: all 0.0s;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.button-submit:hover {
    border: 1px solid #2f5bb7;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
}
.button-submit:active {
    background-color: #0000FF;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.remember-label {
    font-weight: bold;
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 0;
    padding: 0px 0px 0px 0.4em;
    -moz-user-select: none;
}
.register-box h2 strong {
    display: inline-block;
    float:right;
    height: 19px;
    width: 52px;
    background: url("google.png") no-repeat scroll 0% 0% transparent;
}
input[type="email"]:focus, input[type="password"]:focus {
    outline: medium none;
    border: 1px solid rgb(100, 144, 144);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
}