<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login form</title>
    <link rel="stylesheet" href="../static/login.css"/>
    <link rel="stylesheet" href="../static/foundation-5.0.2/css/foundation.css" />
  </head>

  <body>
    <div class="banner" style="text-align:center;">
      <h1>One password. Encrypt Every Account Info!</h1>
      <h2>Sign up to PasswordEncryptionSafe</h2>
    </div>
    <div class="login-box" style="text-align:center;">
    <img id="profile-img" class="profile-img" src="../static/img/PES_Logo.jpg" alt="">
    {% if error %}
      <div class="error-div"><p>{{error}}</p></div>
    {% endif %}
    </div>
    <form data-abide="" novalidate="novalidate">
  <fieldset>
    <legend>Fieldset</legend>

    <div class="row">
      <div class="large-12 columns">
        <label for="password">Password <small>required</small></label>
        <input type="password" id="password" placeholder="LittleW0men." name="password" required="">
        <small class="error">Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.</small>
      </div>
      <div class="large-12 columns">
        <label for="confirmPassword">Confirm Password <small>required</small></label>
        <input type="password" id="confirmPassword" placeholder="LittleW0men." name="confirmPassword" required="" data-equalto="password">
        <small class="error" data-error-message="">Passwords must match.</small>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label for="phone">Phone</label>
        <input type="text" id="phone" placeholder="1 234-567-8910" pattern="alpha_numeric">
        <small class="error">Please enter a properly formatted telephone number.</small>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="foundation@zurb.com">
        <small class="error">Valid email required.</small>
      </div>
      <div class="large-4 columns">
        <label for="url">URL <small>required</small></label>
        <input type="url" id="url" placeholder="http://zurb.com" required="">
        <small class="error">Valid URL required.</small>
      </div>

    <div class="row">
      <div class="large-12 columns">
        <label for="remarks">Closing Remarks</label>
        <textarea id="remarks" name="remarks" placeholder="Leave your remarks here."></textarea>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <button type="submit" class="medium button green">Submit</button>
      </div>
    </div>

  </fieldset>
</form>

<!--     <p>Have an account? <a href="/register.html">Sign In!</a></p>
 -->    <br><br>
  </body>

</html>
