<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../static/foundation-5.0.2/css/foundation.css" />
    <script src="../static/foundation-5.0.2/js/modernizr.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">PasswordEncryptionSafe</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="active"><a href="/login.html">Log Out</a></li>
        </ul>
      </section>
    </nav>
    <h1 style="text-align:center;"> Welcome Mary Chekovsky</h1>
    <h3 style="text-align:center;">Your password is</h3>
    <h3>lsaegt;waeijtgoeijrboeastejiw;flskejtwe;laijt093u50932u5392jt0jf203jg029hgj029jfwealndnglgnzz.f.f.zfiowjrtoqFAW53260925I0239TSLTJljL:KJT04jl;jtoewu609wu35302j53orj(%)UQ#%)dsfldskfjls(Q#^QR)TRLWJj;kj;lfwjerlewajgalkjnrak34h12041jrfnakfjwlearjhajwehtawejr;aelwjflasfk;djalsfkjasld;kfjsklfj0354asfdlh353u4019u40192jr109jerALjflzsngxdlngxldgjewstjaweja;flskjtwaeo;itu0w3to3wtaknsgl;skadng;alngowu9t03295j14lkjsd;agjl;adgjks;d~@$J!LJGlsjga;j3l;fja;gnsalrjwwagnsakfase;jrwetgafs;fjaksljt3owfakjhri320tj23gkjan;elfj3095thgkawljfgbawrojtgbfjat90hbrglkdfjalwejt23irj2oijfUA)(FU)(SUEFGWERNlkgewjlg;aj3lrtj3l;gjsl;afjasl;f</h3>
    <div class = "large-2 medium-4 columns">
 
    </div>

  </body>
</html>

