body {
  background: #2C2C2C;
  color: #fff;
  font-family: sans-serif;
}

h1 {
  text-align:center;
  margin-bottom:0;
}

h2 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
a {
  color: #fff;
  text-decoration: none;
}

*::-webkit-input-placeholder {
    color: #FFFFFF;
    font-size:12px;
    transition: all 0.05s linear;
    transform: translate(10px, 0);
    opacity: 0.5;
}    

*::-webkit-input-value {
    color: #FFFFFF;
    font-size:12px;
    transition: all 0.05s linear;
    transform: translate(10px, 0);
    opacity: 0.5;
}    

*:-moz-placeholder {
    /* FF 4-18 */
    color: #FFFFFF;
    font-size:12px;
    transition: all 0.05s linear;
    transform: translate(10px, 0);
    opacity: 0.5;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #FFFFFF;
    font-size:12px;
    transition: all 0.05s linear;
    transform: translate(10px, 0);
    opacity: 0.5;
}    
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #FFFFFF;
    font-size:12px;
    transition: all 0.05s linear;
    transform: translate(10px, 0);
    opacity: 0.5;
}

.login {
  width: 250px;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  background: rgba(0,0,0,0.2);
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}

input[type="text"], input[type="password"] {
  font-size:14px;
  height:50px;
  width: 250px;
  padding: 25px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.04);
  outline: none;
  color: #FFFFFF;
  font-size:14px;
}

input[type=checkbox] {
  display: none;
}

label {
  display: block;
  position: absolute;
  margin-top: 2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #46485c;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #252730;
  box-shadow: 0px 0px 0px 2px #46485c;
}

#remember:checked ~ label[for=remember] {
  background: #1d9ecc;
  border: 3px solid #252730;
  box-shadow: 0px 0px 0px 2px #b5cd60;
}

input[type="submit"] {
  background: #1d9ecc;
  border: 0;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font-size:14px;
}

input[type="submit"]:hover {
  background: #16aa56;
}
.forgot {
  margin-top: 30px;
  display: block;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.remember {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 25px;
  line-height: 15px;
  font-size:14px;
  font-family:sans-serif;
}

