<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qmail</title>
    <link rel="stylesheet" href="/static/foundation-5.0.2/css/foundation.css" />
    <script src="/static/foundation-5.0.2/js/modernizr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Qmail</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="/">{{user.first}} {{user.last}} ({{user.address}})</a></li>
        </ul>
        <ul class="right">
          <li class="active"><a href="/logout">Log Out</a></li>
        </ul>
      </section>
    </nav>


    <div class = "large-3 medium-4 columns">
 <div class="button-bar">
  <ul class="button-group [radius round]">
    <li><a href="#" class="[tiny small large] button [alert success secondary] [disabled]" onclick="$('#to').focus()" style="background:#00AA55;">Compose</a></li>
    <li><a href="/" class="[tiny small large] button [alert success secondary] [disabled]" style="background:#00AA66;">Inbox</a></li>
    <li><a href="/sent" style="background:#00AA77;" class="[tiny small large] button [alert success secondary] [disabled]">Sent</a></li>
  </ul>
</div>
      <ul id="email-list" class="off-canvas-list">
        <li id="email-label"><label>Emails</label></li>
      </ul>
    </div>

    <div class = "large-9 medium-4 columns">

      <div class="off-canvas-wrap docs-wrap">
      <div class="inner-wrap">

        <nav class="tab-bar">
          <section class="left tab-bar-section">
            <h1 class="title">Message</h1>
          </section>
        </nav>
        <section class="main-section">
          <div class="row">
            <div class="large-12 columns" style="padding-left:20px;">
              <br>
              <div id="email-data">
                <div style="display: table;">
                  <div style="display: table-row;">
                    <div style="display: table-cell; padding-right: 1em;"><h5>From:</h5></div>
                    <div style="display: table-cell;"><h5><span id="email-sender-name"></span> (<a href="#" id="email-sender-address"></a>)<h5></div>
                  </div>
                  <div style="display: table-row;">
                    <div style="display: table-cell;"><h5>To:</h5></div>
                    <div style="display: table-cell;"><h5><span id="email-to"></span><h5></div>
                  </div>
                  <div id="cc-row" style="display: table-row;">
                    <div style="display: table-cell;"><h5>CC:</h5></div>
                    <div style="display: table-cell;"><h5><span id="email-cc"></span><h5></div>
                  </div>
                  <div id="bcc-row" style="display: table-row;">
                    <div style="display: table-cell;"><h5>BCC:</h5></div>
                    <div style="display: table-cell;"><h5><span id="email-bcc"></span><h5></div>
                  </div>
                </div>
                <h4 id="email-subject"></h4>
                <br>
                <br>
                <div id="email-body"></div>
              </div>
              <hr>
              <h4>Compose</h4>
              <form id="send-form">
                  <h5> To </h5>
                  <input type="text" id="to" name="to" style="height:2.125rem; width:25rem;">
                  <h5> CC </h5>
                  <input type="text" id="cc" name="cc" style="height:2.125rem; width:25rem;">
                  <h5> BCC </h5>
                  <input type="text" id="bcc" name="bcc" style="height:2.125rem; width:25rem;">
                  <h5> Subject </h5>
                  <input type="text" name="subject" style="height:2.125rem; width:45rem;">
                  <h5> Body </h5>
                  <textarea cols="50" rows="30" name="body" style="height:6rem; width: 45rem; resize:none;"></textarea>
                  <ul class="button-group [radius round]">
                      <li><a href="#" style="float:left; margin-right:20px;" id="send_email" class="button [secondary alert success]">Send</a></li>

                  </ul>
              </form>
            </div>
          </div>
        </section>
        <a class="exit-off-canvas"></a>

      </div>
    </div>

    <script src="/static/foundation-5.0.2/js/jquery.js"></script>
    <script src="/static/foundation-5.0.2/js/foundation.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
