<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login form</title>
    <link rel="stylesheet" href="../static/login.css"/>
  </head>

  <body>
    <div class="login-box">
    <h2>Sign in <strong></strong></h2>
    <img id="profile-img" class="profile-img" src="../img/logo.jpg" alt="">
    <form action="" method="post">
      <div class="email-div">
        <label for="Email"><strong class="email-label">Email</strong></label>
        <input spellcheck="false" name="Email" id="Email" value="" type="email">
      </div>
      <div class="passwd-div">
        <label for="Passwd"><strong class="passwd-label">Password</strong></label>
        <input name="Passwd" id="Passwd" type="password">
      </div>
      <input class="button button-submit" name="signIn" id="signIn" value="Sign in" type="submit">
      <label class="remember">
        <input  value="yes" checked="checked" type="checkbox">
        <strong class="remember-label"> Stay signed in </strong> </label>
    </form>
    <ul>
      <li> <a id="forgot_password" href=""> Can't access your account? </a> </li>
    </ul>
    </div>
  </body>

</html>
