<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register form</title>
    <link rel="stylesheet" href="../static/register.css"/>
  </head>

   <body>
    <div class="top">
      <h1>Create your Qmail Account</h1>
      <h2>One Account is all you need</h2>
    </div>
    <div class="register-box">  
    <form action="" method="post">
      <div class="email-div">
        <label for="Email"><strong class="email-label">Choose your username</strong></label>
        <input spellcheck="false" name="Email" id="Email" value="" type="email">
      </div>
      <div class="passwd-div">
        <label for="Passwd"><strong class="passwd-label">Create a Password</strong></label>
        <input name="Passwd" id="Passwd" type="password">
      </div>
      <input class="button button-submit" name="signIn" id="signIn" value="Register" type="submit">
    </form>
    </div>
    </body>

</html>
