<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../static/register.css"/>
    <link rel="stylesheet" href="../static/bootstrap.css"/>
    <link rel="stylesheet" href="../static/bootstrap.min.css"/>
  </head>

  <body>
    <div class="banner">
      <h1>Create your Qmail Account</h1>
    </div>

    <div class="side-content">
      <h2>One account is all you need</h2>
      <p>A single username and password gets you into everything Qoogle.</p>
      <img src="../static/img/logostrip.jpeg" height="30px" width="250px">
      <h2>Make Qoogle yours</h2>
      <p>Set up your profile and preferences just the way you like.</p>
      <img src="../static/img/profiles.png" height="124px" width="300px">
      <h2>Take it all with you</h2>
      <p>Switch between devices, and pick up wherever you left off.</p>
      <img src="../static/img/device.png" height="172px" width="300px">
    </div>

    <div class="register-box">
    <img id="profile-img" class="profile-img" src="../static/img/logo.jpg" alt="">
    {% if error %}
      <div class="error-div"><p>{{error}}</p></div>
    {% endif %}
    <form action="" method="post">
      <div class="email-div">
        <label for="Email"><strong class="email-label">Choose your Email</strong></label>
        <input spellcheck="false" name="Email" id="Email" value="" type="email">
      </div>
      <div class="passwd-div">
        <label for="Passwd"><strong class="passwd-label">Create a Password</strong></label>
        <input name="Passwd" id="Passwd" type="password">
    </div>
      <div class="passwd-div">
          <label for="Passwd"><strong class="passwd-label">Confirm Password</strong></label>
          <input name="Passwd" id="Passwd" type="password">
      </div>

<!-- Commenting out recaptcha stuff because I don't really understand what's going on here. -Ben -->
<!--
      <script type="text/javascript">
        var RecaptchaOptions = {
          theme : 'custom',
          custom_theme_widget: 'recaptcha_widget'
        };
      </script>
      <div id="recaptcha_widget" style="">
          <div class="control-group">
             <label class="control-label">Prove that you're not a robot</label>
                            <div class="controls">
                                <a id="recaptcha_image" href="#" class="thumbnail" style=""></a>
                                <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
                            </div>
                        </div>

                           <div class="control-group">
                               <label class="recaptcha_only_if_image control-label">Enter the words above:</label>
                              <div class="controls">
                                  <div class="input-append">
                                      <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="input-recaptcha" />
                                      <a class="btn" href="javascript:Recaptcha.reload()"><i class="icon-refresh"></i></a>
                                      <a class="btn recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')"><i title="Get an audio CAPTCHA" class="icon-headphones"></i></a>
                                      <a class="btn recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')"><i title="Get an image CAPTCHA" class="icon-picture"></i></a>
                                    <a class="btn" href="javascript:Recaptcha.showhelp()"><i class="icon-question-sign"></i></a>
                                  </div>
                              </div>
                        </div>

                    </div>

                    <script type="text/javascript"
                       src="<?php echo $recaptcha_url; ?>">
                    </script>

                    <noscript>
                        <iframe src="<?php echo $recaptcha_noscript_url; ?>"
                           height="300" width="500" frameborder="0"></iframe><br>
                        <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                        </textarea>
                        <input type="hidden" name="recaptcha_response_field"
                           value="manual_challenge">
                    </noscript>
      <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcrK9cSAAAAALEcjG9gTRPbeA0yAVsKd8sBpFpR"></script>

    <noscript>
      <iframe src="<?php echo $recaptcha_noscript_url; ?>" height="300" width="500" frameborder="0"></iframe><br>
      <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
      <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
    </noscript>
 -->

      <input class="button button-submit" name="signIn" id="signIn" value="Register" type="submit">
      <label class="remember">
        <input  value="yes" checked="checked" type="checkbox">
        <strong class="remember-label">I agree to the Qmail Terms of Service and Privacy Policy</strong> </label>
    </form>
    <p>Have an account? <a href="/login/html">Login Here!</a></p>
    </div>

  </body>


</html>


