<html>
  <head>
  	<link rel="stylesheet" href="../static/dashboard.css" />
  </head>

  <body>
    <div class="admin-panel clearfix">
    <div class="slidebar">
    <div class="logo"><a href=""></a>
    </div>

    <ul>
      <li><a href="#dashboard" id="targeted">dashboard</a></li>
      <li><a href="#posts">transactions</a></li>
      <li><a href="#media">accounts</a></li>
      <li><a href="#pages">funds</a></li>
      <li><a href="#settings">settings</a></li>
    </ul>

    </div>

    <div class="main">
    <div class="mainContent clearfix">
      <div id="dashboard">
        <h2 class="header"><span class="icon"></span>Dashboard</h2>
          <div class="monitor">
            <h4>Right Now</h4>
            <div class="clearfix">
              <ul class="content">
                <li>content</li>
                <li class="posts"><span class="count">179</span><a href="">posts</a></li>
                <li class="pages"><span class="count">13</span><a href="">pages</a></li>
                <li class="categories"><span class="count">21</span><a href="">categories</a></li>
                <li class="tags"><span class="count">305</span><a href="">tags</a></li>
              </ul>
              <ul class="discussions">
                <li>discussions</li>
                <li class="comments"><span class="count">353</span><a href="">comments</a></li>
                <li class="approved"><span class="count">319</span><a href="">approved</a></li>
                <li class="pending"><span class="count">0</span><a href="">pending</a></li>
                <li class="spam"><span class="count">34</span><a href="">spam</a></li>
             </ul>
       </div>

       <div id="posts">
         <h2 class="header">posts</h2>
       </div>
       <div id="media">
         <h2 class="header">media</h2>
       </div>
       <div id="pages">
         <h2 class="header">pages</h2>
       </div>
       <div id="settings">
         <h2 class="header">settings</h2>
       </div>
     </div>
     <ul class="statusbar">
       <li><a href=""></a></li>
       <li><a href=""></a></li>
       <li class="profiles-setting"><a href="">s</a></li>
       <li class="logout"><a href="">k</a></li>
     </ul>
   </div>
</div>

  </body>
</html>