<html>
  <head>
  	<link rel="stylesheet" href="../static/dashboard.css" />
  </head>

  <body>
    <div class="admin-panel clearfix">
    <div class="slidebar">
    <div class="logo"><a href=""></a>
    </div>

    <ul>
      <li><a href="#dashboard" id="targeted">dashboard</a></li>
      <li><a href="#posts">transactions</a></li>
      <li><a href="#media">accounts</a></li>
      <li><a href="#pages">funds</a></li>
      <li><a href="#settings">settings</a></li>
    </ul>

    </div>

    <div class="main">
    <div class="mainContent clearfix">
      <div id="dashboard">
        <h2 class="header">Dashboard</h2>
          <div class="monitor">
            <h4>Transaction Log</h4>
            <div class="clearfix">
              <ul class="content">
                <li>ID</li>

              </ul>
              <ul class="text">
                <li>Amount</li>
             </ul>
             <ul class="text">
                <li>Date</li>
             </ul>
       </div>
      </div>
      </div>
      </div>

  </body>

</html>