<html>
  <head>
  	<link rel="stylesheet" href="../static/dashboard.css" />
  	<script src="../static/dashboard.js"></script>
  </head>

  <body>
  <div class="wrapper">

  <nav>

    <header>
      <span></span>
      John Doe
      <a></a>
    </header>

    <ul>
      <li><span>Navigation</span></li>
      <li><a class="active">Dashboard</a></li>
      <li><a>Accounts</a></li>
      <li><a>Money</a></li>
      <li><a>Credit Cards</a></li>
      <li><a>FAQ</a></li>
      <li><span>Other</span></li>
      <li><a>Search</a></li>
      <li><a>Logout</a></li>
    </ul>

  </nav>
  <main></main>
  </div>

  </body>
</html>