<html>

  <head>
    <title>Bank</title>
    <link href="../static/home.css" rel="stylesheet" type="text/css">
  </head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  
  <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="33" background="../img/index_01.gif"><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="p" width="64%"><table width="100%" border="0" cellspacing="5" cellpadding="0">
              <tr>
                <td width="2%"><img src="../img/home.gif" width="12" height="11"></td>
                <td width="98%"> <a href="#">home page</a></td>
              </tr>
            </table></td>
            <td width="36%" align="center">Today's date is</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><img src="../img/index_03.jpg" width="1000" height="199" alt=""></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="#"><img src="../img/index_04.gif" alt="" width="171" height="38" border="0"></a></td>
            <td><a href="#"><img src="../img/index_05.gif" alt="" width="110" height="38" border="0"></a></td>
            <td><a href="#"><img src="../img/index_06.gif" alt="" width="126" height="38" border="0"></a></td>
            <td><a href="#"><img src="../img/index_07.gif" alt="" width="116" height="38" border="0"></a></td>
            <td><a href="#"><img src="../img/index_08.gif" alt="" width="123" height="38" border="0"></a></td>
            <td><a href="#"><img src="../img/index_09.gif" alt="" width="114" height="38" border="0"></a></td>
            <td><img src="../img/index_10.gif" width="240" height="38" alt=""></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="bg1"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="71%" valign="top" class="bord"><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <td width="2%"><img src="../img/index_14.gif" width="11" height="11" alt=""></td>
                  <td width="98%"><h2>Welcome to our web site</h2></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
                <tr>
                  <td width="3%"><img src="../img/index_18.jpg" width="69" height="83" alt=""></td>
                  <td width="97%"><strong>Lorem ipsum dolor sit amet, contuer adipiscingelit</strong><br>
                    sed diamaccusantium doloremque laudantium, totam rem aperiam eaquep.</td>
                </tr>
            </table></td>
          </tr>
          </table></td>
        <td width="29%" rowspan="2" valign="top" class="bord"><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <td width="8%"><img src="../img/index_14.gif" width="11" height="11" alt=""></td>
                  <td width="92%"><h2>Latest news</h2></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td class="p"><p><strong>January 23th</strong></p>
                <p><strong>Amet, consectetuer adipis cing</strong> elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat <a href="#" class="yellow-text-underline"><strong>volutpat</strong></a>.  Ut wisi enim ad minim veniamuis nostrud exerci tation ullamc orper </p>
              <p align="right"><a href="#" class="yellow-text-underline"><strong>• read more</strong></a></p></td>
          </tr>
          <tr>
            <td class="p"><p><strong>September  23th, 08</strong></p>
                <p><strong>Amet, consectetuer adipis cing</strong> elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat <a href="#" class="yellow-text-underline"><strong>volutpat</strong></a>.</p>
              <p align="right"><a href="#" class="yellow-text-underline"><strong>• read more</strong></a></p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top" class="bord"><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td width="33%" valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                      <tr>
                        <td width="8%"><img src="../img/index_14.gif" width="11" height="11" alt=""></td>
                        <td width="92%"><h2>Service</h2></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><a href="#" class="yellow-text-underline">• Lorem Ipsum has been the <br>
                    • Standard dummy text ever<br>
                    • Make a type specimen book<br>
                    • It has survived not only five</a></td>
                </tr>
                       </table></td>
            <td width="1" valign="top" bgcolor="#000000"><img src="../img/spacer.gif" width="1" height="1"></td>
            <td width="33%" valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                      <tr>
                        <td width="8%"><img src="../img/index_14.gif" width="11" height="11" alt=""></td>
                        <td width="92%"><h2>Links</h2></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><a href="#" class="yellow-text-underline">• Lorem Ipsum has been the <br>
                    • Standard dummy text ever<br>
                    • Make a type specimen book<br>
                    • It has survived not only five</a></td>
                </tr>
                    </table></td>
            <td width="1" valign="top" bgcolor="#000000"><img src="../img/spacer.gif" width="1" height="1"></td>
            <td width="34%" valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                      <tr>
                        <td width="8%"><img src="../img/index_14.gif" width="11" height="11" alt=""></td>
                        <td width="92%"><h2>Solutions</h2></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><a href="#" class="yellow-text-underline"> Lorem Ipsum has been the <br>
                    • Standard dummy text ever<br>
                    • Make a type specimen book<br>
                    • It has survived not only five</a></td>
                </tr>
             </table></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td class="bord"><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <td width="2%"><img src="../img/index_14.gif" width="11" height="11" alt=""></td>
                  <td width="98%"><h2>About us</h2></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
                <tr>
                  <td width="89%"><strong>Lorem ipsum dolor sit amet, contuer adipiscingelit</strong><br>
sed diamaccusantium doloremque laudantium, totam rem aperiam eaquep. Store veritatis et quasi architecto beatae vitae dicta sunt, explicabo nemo enim ipsam voluptatem, quia voluptas sit, <a href="#" class="yellow-text-underline">aspernatur aut odit aut fugit. Duis autem vel eum iriure dolor</a> in hendrerit in vvdolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.</td>
                  <td width="11%"><img src="../img/index_22.jpg" width="65" height="65" alt=""></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
        <td valign="top" class="bord"><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <td width="8%"><img src="../img/index_14.gif" width="11" height="11" alt=""></td>
                  <td width="92%"><h2>Special offer</h2></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td><strong>Lorem ipsum dolor sit amet, contuer adipiscingelit</strong><br>
sed diamaccusantium doloremque laudantium, totam rem aperiam eaquep. </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="75" background="../img/index_25.gif"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td class="p" width="54%"><a href="#" class="yellow-text-underline"><strong>Terms of Use</strong></a> <strong class="yellow-text-regular">|</strong><a href="#" class="yellow-text-underline"><strong> Privacy Statement </strong></a></td>
      </tr>
    </table></td>
  </tr>
</table>

</body>

</html>