<html>

	<head>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<title>Login to bank</title>
    	<link rel="stylesheet" href="../static/login.css" />
  	</head>

  <body>

	<div class="loginframe">
  
	<table border="0">
    <tr>
      <th><input type="Username" name="fname" value="Yourmail@here.com"></th>
      <th><input type="password" class="pass" id="text" value="Password"></th>
      <th><div class="button" style="margin-top:-5px;"><h2 style="padding-top: 6px;"><h2>Login!</h2></div></th>
    </tr>
	</table>

	<div class="loadbar">
    	<div class="cube"></div>
	</div>

	</body>

</html>
  