/* do not group these rules */
* {
  background: #2C2C2C;
  color: #fff;
  font-size:20px;
  font-family: sans-serif;
}

*::-webkit-input-placeholder {
  color: blue;
}
*:-moz-placeholder {
  color: red;
}
*:-ms-input-placeholder { /* IE10+ */
  color: red;
}