<html>
	<head>
		<script type="text/javascript" src="../static/login.js"></script>
		<link rel="stylesheet" href="../static/login.css"/>
	</head>

	<body>
		<p align=center><font size="+2" color="#fff">Bryan Adams Junior Academy<br>
		</font><font size="+1" color="#fff">Stanley Teitel, Principal</font>
		<hr>
		<font color ="#fff">IMPORTANT! <br><i>IF YOU ARE USING A PUBLIC COMPUTER:</i><br><br>
		To Protect Your Confidentiality
		<ul>
		<li>DO NOT allow the computer to 'remember' your username and password for this site </li>
		<li>Log Out and Quit the Browser when you are done</li>
	    </ul>
		</font>
        <br>
		<div class='login'>
  			<h1>Sign in</h1>
  			<input name='username' placeholder='Username' type='text'/>
  			<input id='pw' name='password' placeholder='Password' type='password'/>
  			<div class='remember'>
    			<input checked='' id='remember' name='remember' type='checkbox'/>
    			<label for='remember'></label>Remember me
  			</div>
  			<input type='submit' value='Sign in'/>
		</div>
	</body>

</html>